#popup-window {
  width: 250px;
  height: 300px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

#popup-formgroup {
  margin-bottom: 50px;
}

#popup-text span {
  font-weight: bold;
}